@{
    ViewData["Title"] = "Favorite";
}

<div class="text-center">

    <table width="100%" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Personagem</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>

            @{

                for (int i = 0; i < @ViewBag.limit; i++)
                {
                    for(int j = 0; j < @ViewBag.fav.Count; j++)
                    {

                        if (@ViewBag.pId[i] == @ViewBag.fav[j])
                        {
                            <tr class=".itemTecnico">
                                <td> @ViewBag.pId[i] </td>
                                <td> @ViewBag.pNome[i] </td>
                                <td> @ViewBag.pDesc[i] </td>
                            </tr>
                        }
                    }
                }
             }

    </tbody>
</table>

</div>
